.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1, h2, h3, h4, h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 3rem;
  background-color: #c2ffeb;
  color: black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(0, 0, 0) !important;
  text-align: left;
  background-color: #f1f1f1 !important;
}
h1, h2, h3, h4, h6,
.h1, .h2, .h3, .h4, .h6 {
  margin-bottom: 0 !important;
  font-weight: 500;
  line-height: 1.2;
}
.table {
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: #c2ffeb;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: middle !important;
  border-top: 1px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.103);
}

.table-hover tbody tr:hover {
  color: #fff;
  font-weight: bold !important;
  background-color: rgba(217, 255, 239, 0.815) !important;
}
.btn-primary {
  color: #fff;
  background-color: #0099ff;
  border-color: #0099ff;
  border-radius: 40px !important;
}
.btn-success {
  color: #fff;
  background-color: #4fca6c;
  border-color: #28a745;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  border-radius: 40px !important;
}
.btn-danger {
  color: #fff;
  background-color: #cc5561;
  border-color: #d64d5b;
  border-radius: 40px !important;
}
